#errorPageContainer {
	background-image: url("not-found.svg");
	min-height: 300px;
	display: flex;
	flex-direction: column;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: #bfffff;
}

html {
	font: message-box;
}

h1, h2 {
	font-size: 2.5em;
	font-weight: lighter;
}

h2 {
	font-size: 1.5em;
}

body {
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 40px 48px;
	justify-content: center;
}

ul > li, ol > li {
	margin-bottom: .5em;
}

.button-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: end;
}

#text-container {
	padding-inline-start: 40%;
}

input, button {
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #007f7f;
	color: #fff;
	font-size: 2em;
	padding: 1%;
}

input {
	width: 100%;
}

button {
	min-height: 32px;
	margin: 4px;
	font-size: 1em;
}

button:hover {
	background-color: #005f5f;
}

button:hover:active {
	background-color: #003f3f;
}

button {
	padding: 3px;
	min-width: 6.3em;
}